* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-products {
  background: #f1f1f1;
  padding: 20px 40px;
  min-height: 100vh;
}

.card-products-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: -30px;

}

.card-product-item {
  background: white;

  margin-left: 30px;

  min-height: 300px;
  width: calc(25% - 30px);
  transition: all .3s;
  margin-bottom: 30px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}

.card-product-item:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-product-item:hover .card-title {
    color: rgb(250,128,114)
 }
.card-product-content {
  
  padding: 10px 20px;
}

.card-product-content-title {
 
  font-weight: 600;
  font-size: 18px;
  padding: 4px 0;
}

.label-card-title {
    padding-bottom: 14px;
}


.card-product-content-price {
    border-top: 2px solid #9d9b9b;
  border-bottom: 2px solid #9d9b9b;
  padding: 14px 0;

}

.card-product-status {
    padding: 4px 0;
    text-align: center;
}
