* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

.card-products {
  background: #f1f1f1;
  padding: 100px 120px;
  min-height: 100vh;
}

.card-products-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.card-product-item {
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: 30px;
  min-height: 300px;
  max-height: 490px;
  width: calc(25% - 30px);
  transition: all 0.3s;
  margin-bottom: 30px;
}

.card-product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card-product-item:active {
  opacity: .8;
}

.card-img {
  height: 250px;
  /* Dùng để cố định image luôn ở height: 275px; */
  flex-shrink: 0;
}

.card-product-item:hover .card-product-content {
  color: white;
  background-color: rgb(250, 128, 114);
}
.card-product-content {
  padding: 10px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.card-product-content-top {
 
}

.card-product-content-title {
  font-weight: 600;
  font-size: 18px;
  margin: 4px 0;
  /* -webkit- is use for Chrome and Safari */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Khi tràn chữ ra thì sẽ đổi thành ... */
  text-overflow: ellipsis;
}

.label-card-title {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-product-content-bottom {
  margin-top: auto;
  text-align: center;
}

.card-product-content-bottom-buying {
  
  padding: 8px 0;
  line-height: 30px;
  margin-top: auto;
  align-items: center;
}

.card-product-content-bottom-buying-price {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 4px;
}

.card-product-content-bottom-buying-btn {
  padding: 4px 8px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid black;
  transform: translateX(30px);
  opacity: 0;
  transition: all .25s ease;
}
.card-product-item:hover .card-product-content-bottom-buying-btn {
  transform: translateX(0);
  opacity: 1;
}

.card-product-content-bottom-buying-btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.icon-btn-shop {
  margin-right: 4px;
  font-size: 15px;
}

.card-product-status {
  padding: 4px 0;
  text-align: center;
  color: green;
  font-size: 16px;
  line-height: 25px;
}
