* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.products {
    display: flex;
    
}


.product-item {
    background: #f1f1f1;
    height: 200px;
    width: 100px;
    flex: 1;

}
.product-content-title {
   
}

.product-content-price {

}

.product-status {

}