@media  (max-width: 1350px) {
  /* navigation */
  header {
    padding: 40px 40px 40px 100px;
    justify-content: right;
  }
  #header-icon-list {
    color: white;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }

  #header-icon-list:hover {
    cursor: pointer;
  }
  #header-icon-list:active {
    background-color: rgba(106, 95, 95,.4);
  }

  header .navigation {
    justify-content: right;
    min-width: 720px;
    max-width: 720px;

  }
  header .logo {
  }
  .navigation div {
    flex: 2;
    max-width: 100px;
  }
  header .navigation li {
    flex: 0;
  }
  header .navigation li a {
    display: none;
  }
  header.sticky {
    padding: 40px 40px 20px 100px;
  }

  header.sticky #header-icon-list {
    color: black;
  }
  header.sticky .navigation li a {
    display: none;
  } 
  .dropdown:hover .dropdown-list {
    right: -10px;
  }

  /* slider */
  .slider-content-left {
    width: 100%;
    height: 380px;
  }
  .slider-content-left-top img {
    height: 350px;
  }

  .slider-content-left-bottom {
    height: 80px;
  }

  .slider-content-right {
    display: none;
  }

  /*menu product  */
  .menu {
    position: fixed;
    display: flex;
    top: 0;
    left: -30%;
    width: 20%;
    height: 100%;
    z-index: 10001;
    opacity: 0;
    padding: 40px 60px 0 20px;
    transition: all .2s ease;
    background-color: whitesmoke;
  }

  .close-menu-products-icon {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    right: 10px;
    top: 10px;
    text-align: center;
    border-radius: 50%;
  }

  .close-menu-products-icon:hover {
    cursor: pointer;
  }

  .close-menu-products-icon:active {
    background-color: rgba(106, 95, 95,.4);
  }

  .menu .menu-items {
    height: 80px;
  }

  .menu .menu-items:hover img
  {
    width: 40%;
    height: 70px;
    filter: blur(2px);
  }

  .menu #item-1:hover img
  {
    width: 50%;
    height: 80px;
    filter: blur(2px);
  }

  .menu #item-4:hover img,
  .menu #item-5:hover img
  {
    width: 40%;
    height: 65px;
    filter: blur(2px);
  }
  
  /* card-products */
  .card-products {
      padding: 30px 30px 0 0;
      height: 900px;
      grid-template-columns: 0;
      grid-template-rows: 0;
      margin-top: 40px;
    }
    .card-product-content-bottom-buying-btn {
      display: none;
    }
    .card-product-content {
     flex: 0;
    }
    .card-product-item {
      height: 300px;
      justify-content: space-between;
    }

  }

  